/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Font Face Declaration */
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 500 800;
  font-style: normal;
}

/* Variables */

:root {
  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;

  /* Text */
  --text-preset-1: 800 24px/150% "Figtree", sans-serif;
  --text-preset-2: 500 16px/150% "Figtree", sans-serif;
  --text-preset-3: 500 14px/150% "Figtree", sans-serif;
  --text-preset-4: 800 14px/150% "Figtree", sans-serif;
}

/* Global */
body {
  font: var(--text-preset-2);
  background: var(--color-yellow, #f4d04e);
  color: var(--color-gray-950);
}

main {
  min-height: 100vh;
  display: grid;
  gap: var(--spacing-300);
  place-content: center;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-200);
  gap: var(--spacing-200);
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  width: calc(100% - 32px); /* Subtract 16px from each side */
  margin: 0 auto; /* Center the card */
  max-width: 384px;
  background: var(--color-white);
  box-shadow: 8px 8px 0px 0px #000;
}

.hero-image {
  border-radius: 10px;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-150, 12px);
  align-self: stretch;
}

.tag {
  border-radius: var(--spacing-50, 4px);
  background: var(--color-yellow, #f4d04e);
  padding: var(--spacing-50, 4px) var(--spacing-150, 12px);
  font: var(--text-preset-4);
}

.date {
  font: var(--text-preset-3);
}

.title {
  font: var(--text-preset-1);
}

.title:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.description {
  color: var(--color-gray-500);
  font: var(--text-preset-2);
}

.author-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-150, 12px);
}

.avatar {
  width: 32px;
  height: 32px;
}

.author {
  font: var(--text-preset-4);
}
/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
